
*{
    scroll-behavior: smooth;
    font-family: 'Montserrat';
    scroll-padding: 10vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.word-color{
    color: #58c2e0;
}

/* Nav Bar */

.navbar{
    border-color: #1D251Eff;
    background-color: rgba(7, 8, 3, 1);
    min-height: 10vh;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo{
    align-items: center;
    display: flex;
    padding: 0 5rem;
    color: #58c2e0;
    height: 100%;
}


.list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    gap: 4rem;
    height: 100%;
}

.list li a{
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}

.list li a:after {
    display:block;
    content: '';
    border-bottom: solid 3px aliceblue;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: right;
}

.list li a:hover:after { 
    transform: scaleX(1);
    transform-origin: left;
}

.hamburger{
    position: absolute;
    display: none;
    right: 10px;
    width: 40px;
    height: 2.5rem;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    display: none;
    right: 10px;
    width: 40px;
    height: 2.5rem;
    background-color: rgba(7, 8, 3, 0);
}

.hamburger-lines{
    position: absolute;
    right: 10px;
    width: 35px;
    height: 2.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.lines{
    display: none;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: #f2faff;
}

.line1{
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.line2{
    transition: transform 0.2s ease-in-out;
}

.line3{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.hamburger-menu{
    position: fixed;
    right: 0;
    top: 10vh;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    width: 15rem;
    height: 100vh;
    animation: none;
    background-color: #070803;
}

@keyframes transform {
    0% {
    opacity: 0;
    transform: translateX(80%);
    }
    20% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    transform: translateX(0%);
    }
    100% {
    opacity: 1;
    transform: translateX(0%);
    }
}

@keyframes transform-out {
    0% {
    opacity: 1;
    transform: translateX(0%);
    }
    20% {
    opacity: 1;
    transform: translateX(0%);
    }
    50% {
    opacity: 0;
    }
    100% {
    opacity: 0;
    transform: translateX(80%);
    }
}

.hamburger-menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}

.hamburger-menu a:hover{
    background-color: #0d1424;
}

.navbar input[type="checkbox"]:checked ~ .hamburger-menu {
    transform: translateX(0);
  }

.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(40deg);
}
  
.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
  
.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-40deg);
}

/*Landing Page*/

.title-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 90vh;
    background-image: url(pics/bg5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(2px);

}

.cpe{
    font-size: 20px;
}

.title-main{
    padding: 7rem 0;
    font-size: 45px;
    color: aliceblue;
    margin-left: 5rem;
}

@keyframes sample1 {
    0% {
        opacity: 0;
        transform: translateX(-80%); /* Start from the left */
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(0%); /* Move to the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


/* About Me */

.aboutme-section{
    background-color: #111;
    width: 100%;
    min-height: 90vh;
    padding: 2rem 2rem;
}

.border-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    min-height: 90vh;
}

.myweb-wrapper{
    width: 40rem;
    height: 40rem;
}

.myweb-p{
    color: #ffffff;
    padding: 3rem 2rem;
    font-size: 20px;
}

.tab-title{
    display: flex;
    padding-left: 2rem;
}

.tab-links{
    color: #ffffff;
    font-size: 20px;
    margin-right: 2rem;
    cursor: pointer;
    position: relative;
}

.tab-links:after{
    width: 0%;
    content: '';
    height: 3px;
    background-color: #58c2e0; 
    transition:0.5s;
    left: 0;
    bottom: -9px;
    position: absolute;
}
.tab-links.active-link:after{
    width: 50%;
}

.icon1-wrapper{
    width: 40rem;
    height: 30rem;
    background-image: url(pics/icon1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.tab-contents{
    padding: 2rem 2rem;
    line-height: 40px;
    display: none;
}

.active-tab{
    display: block;
}

.tab-list li{
    list-style-type: none;
    color: #fff;
}


/* Skills */

.skills-section{
    width: 100%;
    min-height: 90vh;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem 2rem;
    background-color: #111;
}

.skills-section h1{
    position: absolute;
    padding: 2rem 2rem;
    font-size: 50px;
    color: aliceblue;
}
.box-wrapper{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 8rem 2rem 2rem;
}

.box-skills{
    background: #353535;
    border-radius: 10px;
    min-width: 15rem;
    min-height: 20rem;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Add a slight vertical movement for smoother effect */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear2 {
    0% {
        opacity: 0;
        transform: translateX(-80%);
    }
    20%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.box-skills:hover{
    cursor: pointer;
    z-index: 1;
    transition: 0.25s ease-in;
    transform: scale(1.2,1.2);
}

.box-skills:not(:hover) {
    transition: 0.25s ease-in;
    transform: scale(1, 1);
}

.box-skills p{
    padding: 2rem 1rem;
    font-size: 30px;
}

/* Contact Section */

.contact-section{
    background-color: #111;
    text-align: center;
    width: 100%;
    min-height: 90vh;
    color: #ffffff;
}

.fix-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    min-height: 90vh;
}

.contact-picture-wrapper{
    width: 50%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
}

.picture-wrapper{
    height: 30rem;
    width: 30rem;   
    background-image: url(pics/mypic3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: none;
    visibility: visible;
}

.contact-wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    line-height: 60px;
    text-align: center;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.main-form{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.name, .subject{
    width: 15rem;
    padding: 5px 5px;
}

.message{
    width: 15rem;
    height: 6rem;
    padding: 5px 5px;
    resize: none;
}

.submit{
    width: 80px;
    height: 25px;
}

.icon-wrapper{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    padding: 6rem 4rem;
}

.icon-wrapper img{
    width: 50px;
    height: 50px;
}

.contact-wrapper p{
    padding-top: 10rem;
}

.icon-wrapper img:hover{
    cursor: pointer;
    animation: shake 0.25s;
}

.message-box {
    color: green;
}

.message-box.error {
    color: red;
}

.footer{
    background-color: rgb(7, 8, 3);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    align-items: center;
    padding: 1rem 0.5rem;
    text-align: center;
}

.footer a{
    padding-top: 10px;
    color: #999999;
}

.footer a:hover{
    color: #67bbd4;
}

.footer p{
    padding-top: 15px;
}

@keyframes shake {
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
}

/* Responsive */

@media  screen and (max-width: 1024px) {
    .icon2{
        height: 15rem;
        width: 15rem;
    }
    
}

@media  screen and (max-width: 880px) {
    .hamburger{
        display: block;
    }
    
    .checkmark{
        display: block;
    }
    
    .hamburger-lines{
        display: flex;
    }
    
    .lines{
        display: block;
    }
    .list{
        display: none;
    }
    .icon2{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .title-main{
        margin-left: 1rem;
    }

    .logo{
        padding: 0 1rem;
    }

    .title-container{
        width: 100%;
    }

    .icon2-container{
        width: 100%;
    }

    .contact-picture-wrapper{
        width: 100%;
    }

    .picture-wrapper{
        width: 30rem;
    }

    .contact-wrapper{
        width: 100%;
    }

    .navbar{
        min-height: 7vh;
    }
}

@media screen and (max-width: 570px) {
    .myweb-p{
        line-height: 25px;
        font-size: 20px;
        padding: 3rem 1rem;
    }
    .myweb-wrapper{
        width: 80vw;
    }
    .tab-title{
        padding-left: 1rem;
    }
    .tab-links{
        margin-right: 10px;
    }
    .tab-contents{
        padding-left: 1rem;
    }
}