---
import BaseLayout from "../layouts/BaseLayout.astro";
import Dot from "../components/dot.astro"
---

<BaseLayout>
  <div class="flex flex-col h-full items-center justify-center">
    <div class="grid lg:grid-cols-4 lg:grid-rows-6 max-w-screen-xl p-10 gap-5">
      <div
        class="dark:text-white bg-gray-200 dark:bg-[#171717] hover:border-amber-400 hover:shadow-md dark:hover:border-lime-200 rounded-lg border border-[#383838] p-5 lg:col-start-1 lg:col-span-3 lg:row-start-1 lg:row-span-3 flex flex-col lg:flex-row items-center"
      >
        <div
          class="w-full lg:w-2/3 xl:w-full h-full text-left flex flex-col justify-between"
        >
          <div>
            <h1 class="font-extralight inter">Greetings</h1>
            <p class="font-light inter text-sm lg:text-md">
              Hi, I'm <span class="font-bold">Aaron</span>
              — a front-end developer who turns pixels into experiences. I blend
              clean code, motion, and UX thinking to craft interfaces that move with
              purpose and respond with ease.
            </p>
            <p class="font-light inter text-sm lg:text-md pt-2">
              Let’s create something people love to use.
            </p>
          </div>
          <div class="hidden lg:!flex gap-3">
            <!-- From Uiverse.io by ayman-ashine -->
            <div class="group relative flex justify-center items-center text-black text-sm font-bold">
              <a href="https://github.com/arnadame" target="_blank">
                <div class="shadow-md flex items-center group-hover:gap-2 bg-gradient-to-br from-amber-100 to-amber-200 dark:from-lime-200  dark:to-yellow-200 p-3 rounded-full cursor-pointer duration-300">
                  <img src="static/images/github.svg" alt="">
                  <span class="text-[0px] group-hover:text-sm duration-300">Github</span>
                </div>
              </a>
            </div>

            <div class="group relative flex justify-center items-center text-black text-sm font-bold">
              <a href="https://www.linkedin.com/in/aaron-adame-13a821282" target="_blank">
                <div class="shadow-md flex items-center group-hover:gap-2 bg-gradient-to-br from-amber-100 to-amber-200 dark:from-lime-200  dark:to-yellow-200 p-3 rounded-full cursor-pointer duration-300">
                  <img src="static/images/linkedin.svg" alt="">
                  <span class="text-[0px] group-hover:text-sm duration-300">LinkedIn</span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-2/3 h-full">
          <img
            src="static/images/memoji-nobg.png"
            class="h-full w-full"
            alt=""
          />
        </div>
      </div>
      <div
        class="dark:text-white bg-gray-200 dark:bg-[#171717] hover:border-amber-400 hover:shadow-md dark:hover:border-lime-200 rounded-lg border border-[#383838] p-5 lg:row-start-1 lg:row-span-5 flex flex-col"
      >
        <h1 class="font-bold text-2xl poppins">About Me</h1>
        <p class="inter font-light text-md">
          I create front-end experiences that feel responsive, alive, and
          intuitive — weaving animations, micro‑interactions, and thoughtful UX
          into each interface.
        </p>
        <h1 class="mb-2 text-md font-light mt-5 text-gray-900 dark:text-white">
          My go‑to tools:
        </h1>
        <ul class="max-w-md space-y-1 inter font-light list-disc list-inside">
          <li>Tailwind CSS</li>
          <li>JavaScript</li>
          <li>Svelte</li>
          <li>Astro</li>
          <li>Sveltia CMS.</li>
        </ul>

        <p class="inter font-light text-md mt-5">
          I believe the best solution isn’t about using what’s trendy — it’s
          about choosing what fits the task. I’m always open to learning,
          adapting, and pushing what’s possible.
        </p>
      </div>
      <div
        class="dark:text-white bg-gray-200 dark:bg-[#171717] hover:border-amber-400 hover:shadow-md dark:hover:border-lime-200 rounded-lg border border-[#383838] p-5 lg:row-start-4 lg:row-span-3 flex flex-col"
      >
        <h1 class="poppins font-bold text-lg">Let's start working together!</h1>
        <p class="inter font-extralight italic dark:text-gray-300 mt-5">Contact Me</p>
        <p class="inter font-light">arnadame10@gmail.com</p>
        <ul class="max-w-md space-y-1 inter mt-5 font-light list-inside">
          <li class="font-extralight italic dark:text-gray-300">Socials</li>
          <li>
            <a href="https://www.linkedin.com/in/aaron-adame-13a821282">
              Linkedin
            </a>
          </li>
          <li>
            <a href="https://github.com/arnadame">
              Github
            </a>
          </li>
          <li>
            <a href="#">
              Discord
            </a>
          </li>
        </ul>
      </div>
      <div
        class="dark:text-white bg-gray-200 dark:bg-[#171717] hover:border-amber-400 hover:shadow-md dark:hover:border-lime-200 rounded-lg border border-[#383838] p-5 flex flex-col justify-around"
      >
        <h1 id="currentDate" class="poppins text-2xl"></h1>
        <h1 id="currentTime" class="poppins text-2xl"></h1>
      </div>
			<a class="cursor-pointer dark:text-white bg-gray-200 dark:bg-[#171717] dark:hover:border-lime-200 rounded-lg border border-[#383838] p-5 px-10 flex items-center justify-center" href="/projects">
				<div
					class="flex items-center justify-between w-full"
				>
					<h1 class="poppins text-3xl">Projects</h1>
					<svg width="25px" height="25px" class="stroke-black dark:stroke-white" viewBox="0 0 24 24"  fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 17L17 7M17 7H8M17 7V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
			</a>
      <div
        class="dark:text-white h-50 lg:h-full bg-gray-200 dark:bg-[#171717] hover:border-amber-400 hover:shadow-md dark:hover:border-lime-200 rounded-lg border border-[#383838] p-5 row-start-7 lg:row-start-5 lg:row-span-2 flex flex-col items-center"
      >
        <Dot />
      </div>
			<a class="cursor-pointer dark:text-white bg-gray-200 dark:bg-[#171717] dark:hover:border-lime-200 rounded-lg border border-[#383838] p-5 px-10 flex items-center justify-center" href="/blogs">
				<div
					class="flex items-center justify-between w-full"
				>
					<h1 class="poppins text-3xl">Blogs</h1>
					<svg width="25px" height="25px" class="stroke-black dark:stroke-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 17L17 7M17 7H8M17 7V16"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
			</a>
      <div
        class="dark:text-white bg-gray-200 dark:bg-[#171717] hover:border-amber-400 hover:shadow-md dark:hover:border-lime-200 rounded-lg border border-[#383838] p-5 flex flex-col justify-center items-center"
      >
        <button
          id="theme-toggle"
          type="button"
          class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
        >
          <svg
            id="theme-toggle-dark-icon"
            class="hidden w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
            ></path></svg
          >
          <svg
            id="theme-toggle-light-icon"
            class="hidden w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
              fill-rule="evenodd"
              clip-rule="evenodd"></path></svg
          >
        </button>
      </div>
      <div
        class="dark:text-white bg-gray-200 dark:bg-[#171717] hover:border-amber-400 hover:shadow-md dark:hover:border-lime-200 rounded-lg border border-[#383838] p-5 flex flex-col justify-center items-center"
      >
        <p class="inter text-sm font-light">© 2025 · Made using Astro 🚀.</p>
      </div>
    </div>
  </div>

  <script>
      import moment from 'moment-timezone';

      const userTimezone = moment.tz.guess();
      function updateDateTime(){
        const currentTime = moment().tz(userTimezone).format('LTS');
        const currentDate = moment().tz(userTimezone).format('LL')
  
        const cd = document.querySelector('#currentDate')
        const ct = document.querySelector('#currentTime')
        if (cd) {
          cd.textContent=currentDate
        }
        if (ct) {
          ct.textContent=currentTime
        }
      }

      updateDateTime();
      setInterval(updateDateTime, 1000);

  </script>
</BaseLayout>
