---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
	<div class="flex flex-col h-full items-center justify-center">
		<div class="grid lg:grid-cols-4 lg:grid-rows-10 max-w-screen-xl p-10 gap-5">
			<div class="text-white rounded-lg border border-[#383838] p-5 lg:col-start-1 lg:col-span-3 lg:row-start-1 lg:row-span-5 flex flex-col lg:flex-row items-center">
				<div class="w-full h-full text-left flex flex-col justify-between">
					<div>
						<h1 class="font-extralight inter">Greetings</h1>
						<p class="font-light inter text-sm lg:text-md">
							Hi, I'm <span class="font-bold">Aaron</span>
							— a front-end developer who turns pixels into experiences.
							I blend clean code, motion, and UX thinking to craft interfaces that move with purpose and respond with ease.
						</p>
						<p class="font-light inter text-sm lg:text-md pt-2">
							Let’s create something people love to use.
						</p>
					</div>
					<div class="grid grid-cols-2 lg:flex">
						<button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Dark</button>
						<button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Dark</button>
						<button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Dark</button>
						<button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Dark</button>
						<button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Dark</button>
						<button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Dark</button>
					</div>
				</div>
				<div class="w-full lg:w-1/3 h-full rounded-lg border border-[#383838]">

				</div>
			</div>
			<div class="text-white rounded-lg border border-[#383838] p-5 lg:row-start-1 lg:row-span-7 flex flex-col">
				<h1 class="font-bold text-2xl poppins"> About Me</h1>
				<p class="inter font-light text-md">I create front-end experiences that feel responsive, alive, and intuitive — weaving animations, micro‑interactions, and thoughtful UX into each interface.</p>
				<h1 class="mb-2 text-md font-light mt-5 text-gray-900 dark:text-white">My go‑to tools:</h1>
				<ul class="max-w-md space-y-1 inter font-light list-disc list-inside">
						<li>Tailwind CSS</li>
						<li>JavaScript</li>
						<li>Svelte</li>
						<li>Astro</li>
						<li>Sveltia CMS.</li>
				</ul>

				<p class="inter font-light text-md mt-5">I believe the best solution isn’t about using what’s trendy — it’s about choosing what fits the task. I’m always open to learning, adapting, and pushing what’s possible.</p>
			</div>
			<div class="text-white rounded-lg border border-[#383838] p-5 lg:row-start-6 lg:row-span-4 flex flex-col items-center">
				3rd item
			</div>
			<div class="text-white rounded-lg border border-[#383838] p-5 flex flex-col items-center">
				4th item
			</div>
			<div class="text-white rounded-lg border border-[#383838] p-5 flex flex-col items-center">
				5th item
			</div>
			<div class="text-white rounded-lg border border-[#383838] p-5 lg:row-start-7 lg:row-span-2 flex flex-col items-center">
				6th item
			</div>
			<div class="text-white rounded-lg border border-[#383838] p-5 flex flex-col items-center">
				7th item
			</div>
			<div class="text-white rounded-lg border border-[#383838] p-5 flex flex-col items-center">
				8th item
			</div>
			<div class="text-white rounded-lg border border-[#383838] p-5 flex flex-col items-center">
				9th item
			</div>
			<div class="text-white rounded-lg border border-[#383838] p-5 flex flex-col items-center">
				10th item
			</div>
			<div class="text-white rounded-lg border border-[#383838] p-5 flex flex-col items-center">
				11th item
			</div>
			<div class="text-white rounded-lg border border-[#383838] p-5 flex flex-col items-center">
				12th item
			</div>
		</div>
	</div>
</BaseLayout>