---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
	<div class="flex flex-col items-center justify-center">
		<div class="grid grid-cols-4 grid-rows-7 w-1/2 gap-5">
			<div class="text-white border p-5 col-start-1 col-span-3 row-start-1 row-span-3 flex flex-col items-center">
				1st item
			</div>
			<div class="text-white border p-5 row-start-1 row-span-5 flex flex-col items-center">
				2nd item
			</div>
			<div class="text-white border p-5 row-start-4 row-span-4 flex flex-col items-center">
				3rd item
			</div>
			<div class="text-white border p-5 flex flex-col items-center">
				4th item
			</div>
			<div class="text-white border p-5 flex flex-col items-center">
				5th item
			</div>
			<div class="text-white border p-5 row-start-5 row-span-2 flex flex-col items-center">
				6th item
			</div>
			<div class="text-white border p-5 flex flex-col items-center">
				7th item
			</div>
			<div class="text-white border p-5 flex flex-col items-center">
				8th item
			</div>
			<div class="text-white border p-5 flex flex-col items-center">
				9th item
			</div>
			<div class="text-white border p-5 flex flex-col items-center">
				10th item
			</div>
			<div class="text-white border p-5 flex flex-col items-center">
				11th item
			</div>
			<div class="text-white border p-5 flex flex-col items-center">
				12th item
			</div>
		</div>
	</div>
</BaseLayout>