---
const props = Astro.props
---

<div class="border-b-1 dark:border-white border-dashed flex justify-between">
    <a href={`/blogs/${props.url}`}>
        <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900 hover:text-gray-700 dark:text-gray-50 dark:hover:text-gray-300 poppins">{props.title}</h5>
    </a>
    <!-- <a href={`/blogs/${props.url}`} class="inter inline-flex items-center mb-2 text-lg font-light text-center text-white">
        Read more
    </a> -->
</div>
