---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("Blogs");

  return blogEntries.map((entry:any) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props
console.log(entry.data)

---

<BaseLayout>
  <!-- <h1 class="dark:text-white">Projects</h1> -->
  <div class="flex items-center h-full justify-center w-full">
    <div class="flex flex-col">
      <h1 class="text-white text-2xl">{entry.data.title}</h1>
      <p class="text-white text-lg">{entry.data.paragraph}</p>
    </div>
  </div>

</BaseLayout>