---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogsCard from "../../components/BlogsCard.astro"

import { getCollection } from "astro:content";

const blogs = await getCollection('Blogs')

blogs.map((blog) => 
console.log(blog.id))
---
<BaseLayout>
  <!-- <h1 class="dark:text-white">Projects</h1> -->
  <div class="flex flex-col items-center h-full w-full">
    <div class="lg:w-1/2 px-5 lg:px-0 flex flex-col items-start pt-10 pb-30">
      <div>
        <a href="/" class="cursor-pointer">
          <svg width="40px" height="40px" class="stroke-black dark:stroke-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 17L7 7M7 7V16M7 7H16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
      <div class="w-full">
        <h1 class="text-4xl dark:text-white poppins my-10">Blogs</h1>
        <div class="grid gap-5">
          {
            blogs.map((blog) =>
              <BlogsCard 
              url={blog.id}
              title={blog.data.title}
              description={blog.data.description}
              />
            )
          }
        </div>
      </div>

    </div>
  </div>
</BaseLayout>