---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogsCard from "../../components/BlogsCard.astro"

import { getCollection } from "astro:content";

const blogs = await getCollection('Blogs')

blogs.map((blog) => 
console.log(blog.id))
---
<BaseLayout>
  <!-- <h1 class="dark:text-white">Projects</h1> -->
  <div class="flex items-center h-full justify-center w-full">
    <div class="grid grid-cols-3 gap-5 py-50">
      {
        blogs.map((blog) =>
          <BlogsCard 
          url={blog.id}
          title={blog.data.title}
          description={blog.data.description}
          />
        )
      }

    </div>
  </div>
</BaseLayout>