---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogsCard from "../../components/BlogsCard.astro"

import { getCollection } from "astro:content";

const blogs = await getCollection('Blogs')

blogs.map((blog) => 
console.log(blog.id))
---
<BaseLayout>
  <!-- <h1 class="dark:text-white">Projects</h1> -->
  <div class="flex flex-col items-center h-full w-full">
    <div class="w-1/2 py-30">
      <h1 class="text-4xl text-white poppins mb-10">Blogs</h1>
      <div class="grid gap-5">
        {
          blogs.map((blog) =>
            <BlogsCard 
            url={blog.id}
            title={blog.data.title}
            description={blog.data.description}
            />
          )
        }
    </div>

    </div>
  </div>
</BaseLayout>